<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width" />
    </head>
    <body bgcolor="#F5F8FA" style="padding: 0; margin: 0; line-height: 1px; font-size: 10px">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #f2f2f2; font-size: 16px">
            <tbody>
                <tr>
                    <td align="center" style="padding: 0; margin: 0; line-height: 1px; font-size: 16px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #ffffff; border-collapse: collapse">
                            <tbody style="border-radius: 5em">
                                <tr align="center">
                                    <td style="padding-left: 0px; padding-right: 0px; padding-top: 0px; padding-bottom: 0px">
                                        <img
                                            src="https://honayangi-bucket.s3.ap-southeast-1.amazonaws.com/public/ico-password.png"
                                            alt="Password icon"
                                            width="100"
                                            height="100"
                                            style="display: block"
                                        />
                                    </td>
                                </tr>
                                <tr align="center">
                                    <td style="padding-left: 0px; padding-right: 0px; padding-top: 10px">
                                        <h1>Password reset code</h1>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 5px; padding-bottom: 5px; padding-left: 20px; padding-right: 10px"><p>Hi, <%= userDisplayName %>!</p></td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 20px; padding-right: 10px">
                                        <p>Please use this code to reset the password for your account.</p>
                                        <br />
                                        <p>Here is your code: <strong> <%= code %> </strong></p>
                                        <br />
                                        <p>For your safety, this code will be expired in 3 minutes!</p>
                                        <br />
                                        <p>If this was a mistake, just ignore this email and nothing will happen.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 10px; padding-bottom: 5px; padding-left: 20px; padding-right: 10px">
                                        <p>Best regards.</p>
                                        <br />
                                        <p>Hom Nay An Gi Team.</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
